@model CarDealership.Models.Car_BuyerID

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Car_BuyerID</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Buyer.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Buyer.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Car.VinNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Car.VinNumber)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Car_BuyerID1 }) |
    @Html.ActionLink("Back to List", "Index")
</p>
